.header {
    grid-area: head;
    background-color: #bbdbed;
}

.header img {
    height: 100%;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}