.header {
    grid-area: head;
    background-color: #bbdbed;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 100%;
}

.loginBlock {
    margin: 20px;
}

.loginBlock a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}