.paginator {
    margin: 10px;
}

.selectedPage {
    font-weight: bold;
    color: #bbdbed;
}

.page {
    color: #fc82c5;
    margin: 0 10px;
    cursor: pointer;
}

.arrow {
    font-size: 26px;
    color: #bbdbed;
    cursor: pointer;
    transition: color 0.4s linear;
}

.arrow:hover {
    color: #fc82c5;
}