.formControl.error input,
.formControl.error textarea {
  border: 2px solid #ff2e2e;
}

.formControl.error span {
  color: #ff2e2e;
}

.formGeneralError {
  padding: 5px;
  border: 2px solid #ff2e2e;
  color: #ff2e2e;
}